@keyframes Animationcolors {
  0% {
    background-color: blueviolet;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: bisque;
  }
  75% {
    background-color: chartreuse;
  }
  100% {
    background-color: coral;
  }
}

#animation1 {
  height: 150px;
  width: 150px;
  animation: Animationcolors 5s infinite;
  margin: 50px;
}
